
## Prisma
DATABASE_URL="postgresql://tasks_owner:jSBrDVw7b0hn@ep-restless-salad-a5okdk4l-pooler.us-east-2.aws.neon.tech/tasks?sslmode=require"

## Notion
NOTION_KEY="secret_zZT1EBlTZLBd1XDhN5JCKXiOnBSKlSX0U298y3XHY21"
NOTION_DATABASE_TASK_ID="c36e67e7e0264c0597e0eec01ab0f3e6"
NOTION_DATABASE_PROJECT_ID="69192c6a30e64315a4ea4227e41bec8e"
NOTION_DATABASE_PRIORITY_ID="67aa2ec675f041658f068f4d1f0e72d8"
NOTION_DATABASE_ESTIMATE_ID="d2c7b3d87add417eb8df33d9bbd86fb1"
NOTION_DATABASE_ACTION_ID="e019bfcd269e45319ea3dc37976e45a9"
NOTION_DATABASE_AREA_ID="dbc8c25432bc48a6ad3ff70f71502f61"

## Resend
RESEND_KEY="re_8NH7ERbj_4XVnhLRY4rLurjxby4Pne2wu"

## Auth
JWT_SECRET="2c0cafc6640d192d4764cf4cb8e63dac"
JWT_REFRESH="f1eb42f290b2d31aadea2776c8378c47"

## NextAuth
NEXTAUTH_SECRET=secret
SUPABASE="DfRPjAtn8Ol6i2L0"