
## Prisma
DATABASE_URL=""

## Notion
NOTION_KEY=""
NOTION_DATABASE_TASK_ID=""
NOTION_DATABASE_PROJECT_ID=""
NOTION_DATABASE_PRIORITY_ID=""
NOTION_DATABASE_ACTION_ID=""
NOTION_DATABASE_AREA_ID=""

## Auth
JWT_SECRET=""
JWT_REFRESH=""

## NextAuth
NEXTAUTH_SECRET=secret